/**
color pallete 1:
bg:142850
nav:27496d
highlight:f6c90e
color:eeeeee

color pallete 2:
bg:303841
nav:3a4750
**/
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #27496d;
    color:#eeeeee;
    margin:0;
}
ol,ul{
    margin:0;
    padding: 0;
    list-style: none;
}
figure{
    margin:0;
}

strong{
    color:#f6c90e;
}
strong a{
    text-decoration: none;
    color:#f6c90e;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald',sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    margin:0;
}
h2{
    color:#f6c90e;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    padding: 0 1em;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    position: inherit;
    background-color: inherit;
}
.header{
    background-color: #27496d;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
}
.header ul{
    display: flex;
    height: inherit;
}
.header ul li{
    height: inherit;
}
.header a{
    color:#eeeeee;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    background-color: #142850;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-image{
    object-fit: cover;
}

.menu{
    height: inherit;
}

.portfolio{
    padding:20px
}

.project{
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 20px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
.project-title{
    font-size: 30px;
    margin-top:0;
    margin-bottom: 10;
}
.project-details{
    width: 50%;
}
.project-techs, .project-date, .project-url{
    margin:10px 0 ;
}
.project-description{
    font-size:20px;
}
.project-imageContainer{
    width: 50%;
}
.project-image{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.card-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-list-title{
    margin-left: 20px;

}
.card{
    margin: 1%;
    width: 47%;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #e7e7e7;
}
.card img{
    width: 98%;
    height: 200px;
    object-fit: fill;
}
.card-detail{
    margin: 20px 40px;
    background-color: white;
    color: #27496d;
    margin-top: -40px;
    position:relative;
    padding: 20px;
    text-align: center;
    opacity: 95%;
}
.card-description{
    text-align: center;
}
.card-url{
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}
.contact{
    background-color: #142850;
    color: #eeeeee;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.form-email input{
    border-color: #056fff;
    padding: 5px 20px 5px 25px;
    border-radius: 5px;
    border-style: solid;
}
.form-email button{
    display: block;
    margin-top:10px;
    background: transparent;
    color: #eeeeee;
    padding: 5px 0;
    border-radius: 5px;
    border-style: solid;
    width: 100px;
    margin-top: 10px;
}
.form-email h3{
    font-family: 'Source Sans Pro';
}
.tech{
    height: 300px;
    width: 98%;
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    margin:10px;
}
.tech-header{
  margin-left: 30px;
}
.tech-image{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.tech-details{
    margin:10px;
}
.footer{
    background-color: black;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.footer img{
    width: 20px;
    vertical-align: middle;
}
/*Desktop First desde el mas grande*/
@media screen and (max-width:1024px){

    h1{
        font-size: 1.2em;
        z-index: 2;
        background: rgba(0,0,0.5);
    }

}
@media screen and (max-width:767px){
   
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        background-color:transparent
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        width: 100%;
        object-fit: none;
    }
    .header{
        display: block;
        height: auto;
    }
    .header ul{
        display: initial;
    }
    .header ul li{
        height:50px;
    }
    .header a{
        justify-content: center;
    }
    .header .logo{
        text-align: center;
    }

    .project{
        display: block;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }
    .project-image{
        object-fit: cover;
        
        height: 200px;
    }
    .project-details{
        width: auto;
        font-size: 16px;
    }
    .project-title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url{
        font-size: 1em;

    }
    .project-techs{
        font-size: 1em;

    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: .8em;
    }
    .project-techs, .project-date, .project-url{
        margin:.4em 0 ;
    }
    .card{
        width: auto;
        flex-shrink: initial;
    }
}
@media screen and (max-width:480px){
    h1 {
        font-size: 1.5em;
    }
    .project-details{
        font-size: 12px;
    }
    .card-detail{
        margin: -2em .5em .5em .5em;
        padding: 1em;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .contact button{
        margin: 1em auto;
    }
    .footer{
        text-align: center;
        display: block;
        border: 1px solid transparent;
    }
}
@media screen and (max-width:320px){
   h1{
       font-size: 1.2em;
   }
   .hero{
       padding: 2em 1em;
   }
}